h1 {
    font-family: monospace;
}

button {
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 2px 20px;
    font-family: monospace;
    font-weight: bolder;
    font-size: large;
}

rect {
    fill: #2f4f4f;
}

.g-by-vertical {
    padding-right: 1px;
}

.tick {
    font-family: sans-serif;
    font-size: small;
    font-weight: normal;
}

#mainContainer {
    margin: 20px;
}

#titleContainer {
    display: flex;
    align-items: center;
}

#buttonContainer {
    margin-left: auto;
}

#x-axis {
    text-anchor: start;
}

#y-axis {
    text-anchor: start;
}